# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Logs
logs/
*.log

# Env files
.env
.env.*

# Docker
**/docker-compose.override.yml
**/docker-compose.*.yml

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store
